@page "/"

<PageTitle>Index</PageTitle>

<button @onclick="FetchData">Get Data</button>

@if (pokemon != null)
{

    <h3>Name: @allPokemon[1].Name</h3>
}


@code{
    public Pokemon pokemon;
    public Pokemon[] allPokemon = new Pokemon[1292];
    public HttpClient httpClient = new HttpClient();


    public async Task FetchData()
    {
        for (int i = 0; i < 152; i++)
        {
            pokemon = await httpClient.GetFromJsonAsync<Pokemon>($"https://pokeapi.co/api/v2/pokemon/{i+1}");
            allPokemon[i] = pokemon;
        }
    }

    public class Pokemon
    {
        public string Name{ get; set; }
    }
}

