<div class="top-row ps-3 navbar navbar-dark" style="background-color: #0A285F; border-style: solid; border-color: #FFCC00">
    <div class="container-fluid">
        <a class="navbar-brand" style="color:#FFCC00" href="">Pokedex Plus</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable navStyle">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="genone">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Gen One
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="gentwo">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Gen Two
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="genthree">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Gen Three
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="genfour">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Gen Four
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="genfive">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Gen Five
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="gensix">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Gen Six
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="genseven">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Gen Seven
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="geneight">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Gen Eight
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="gennine">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Gen Nine
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = false;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
